openapitools.json
nuget.exe
output.txt

# GO Related
generated/go
post-processors/go/output
post-processors/go/post-processor

#.NET Related
generated/csharp/Octokit
generated/csharp/kiota-lock.json
generated/csharp/bin
generated/csharp/obj
post-processors/csharp/post-processor

.DS_Store