openapitools.json
nuget.exe
output.txt
schemas/*.json

# GO Related
generated/go/*
!generated/go/main.go
post-processors/go/output
post-processors/go/post-processor

#.NET Related
generated/csharp/GitHub/Octokit
generated/csharp/GitHub/kiota-lock.json
generated/csharp/GitHub/bin
generated/csharp/GitHub/obj
generated/csharp/GitHub/Kiota
post-processors/csharp/post-processor

.DS_Store

# keys
**/*.pem

# revolver-related
stage/go/*/pkg/github/*
stage/dotnet/*/src/GitHub/*
