{{>partial_header}}

{{#models}}
{{#model}}
using System;
using System.Collections.Generic;
using System.Diagnostics.CodeAnalysis;
using System.Diagnostics;
using System.Text;
using System.Globalization;
{{/model}}
{{/models}}
{{#models}}
{{#model}}

namespace {{packageName}}.{{modelPackage}}
{
{{#isEnum}}{{>modelEnum}}{{/isEnum}}{{^isEnum}}{{^oneOf}}{{^anyOf}}{{>modelBasic}}{{/anyOf}}{{/oneOf}}{{/isEnum}}
{{/model}}
{{/models}}
}