{{! Header pattern derived from: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/csharp/partial_header.mustache}}
{{>partial_header}}

{{#models}}
{{#model}}
using System;
using System.Collections.Generic;
using System.Diagnostics.CodeAnalysis;
using System.Diagnostics;
using System.Text;
using System.Globalization;
{{/model}}
{{/models}}
{{#models}}
{{#model}}

namespace {{packageName}}.{{modelPackage}}
{
{{! modelEnum pattern derived from:  https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/csharp/modelEnum.mustache}}
{{! modelGeneric pattern derived from: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/csharp/modelGeneric.mustache}}
{{#isEnum}}{{>modelEnum}}{{/isEnum}}
{{^isEnum}}
{{#oneOf}}{{#-first}}{{>modelGeneric}}{{/-first}}{{/oneOf}}
{{#anyOf}}{{#-first}}{{>modelGeneric}}{{/-first}}{{/anyOf}}
{{^oneOf}}{{^anyOf}}{{>modelGeneric}}{{/anyOf}}{{/oneOf}}
{{/isEnum}}


{{/model}}
{{/models}}
}