name: "Build and validate Go generated SDK"

on:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest-16-cores

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - uses: actions/setup-go@v3.5.0
        with:
          go-version: '1.20'

      # - name: Install autorest
      #   run: npm i -g autorest

      # - name: Run generation
      #   run: time autorest autorest-config.yaml --go --debug --verbose

      # - name: Build post-processing
      #   run: go build -o go-post-processor/post-processor go-post-processor/main.go

      # - name: Run post-processing
      #   run: go-post-processor/post-processor $(pwd)/generated/go

      # - name: Build generated and processed SDK
      #   run: |
      #     ls -R
      #     cd output
      #     go build ./...
